@charset "utf-8";

#page{ width:960px; margin:0 auto; }

/*--------aside-------*/
aside{
	float:left;
	width:248px;
	position:fixed;
	padding-top:10px;
}

/*--------nav--------*/
nav{ text-align:center; }
nav .logo{
	font-family: "LeagueGothicRegular", Arial, Helvetica, sans-serif;
	font-size:43px;
	text-transform:uppercase;
	text-align:center;
	color:#a08784;
	text-decoration:none;
	margin:20px 0;
	display:block;
	text-shadow: 0px 1px 0px #fff;
}
nav .logo span{
	font-size:15px;
	display:block;
	background:url(../img/a_portfolio_bg.png) no-repeat center;
	color:#c4bab7;
}
nav ul{	
	font-size:30px;
	padding-top:30px;
	background:url(../img/nav_bg.png) no-repeat top center;
	text-transform:uppercase;
}
nav ul li a, nav ul li a:link{
	font-family: "LeagueGothicRegular", Arial, Helvetica, sans-serif;
	color:#7d6865;
	text-decoration:none;
	padding:10px 0 10px 0;
	display:block;
	text-shadow: #fff 0px 1px 0px;
}
nav ul li a:hover{
	text-decoration:none;
	color:#634d4a;
}
nav ul li.active{
	background:url(../img/nav_active.png) no-repeat 26px 4px;
}
nav ul li.active a{
	color:#fff;
	text-shadow: #2b0d09 0px 1px 0px;
}
nav .bg_bottom{
	background:url(../img/nav_bg.png) no-repeat bottom center;
	height:30px;
}

/* ----content---- */
#main-content{
	float:right;
	width:670px;
}

/* ----header---- */
.header {
	text-align:center;
	padding:10px;
}
.header h2{
	background:url(../img/border_bg.gif) repeat-x bottom left;
	margin-bottom:20px;
	font-family:"LaneNarrowRegular", Arial, Helvetica, sans-serif;
	font-size:40px;
	line-height:44px;
	padding-bottom:20px;
}

/* ----sections---- */
#home, #about, #contact{
	margin-bottom:500px;
	width:100%;
	padding-top:15px;
}

/* ----columns---- */
.columns{
	width:100%;
	margin-bottom:20px;
	padding:10px;
	overflow: hidden;
}
.two-column{
	width:300px;
	float:left;
	margin-right:44px;
}
.three-column{
	width:200px;
	float:left;
	margin-right:30px;
}
.last{
	margin-right:0px;
}


/* ----picBox---- */
.picBox{
	-moz-box-shadow:0px 0px 5px #dfdfdf;
	-o-box-shadow:0px 0px 5px #dfdfdf;
	-webkit-box-shadow:0px 0px 5px #dfdfdf;
	box-shadow:0px 0px 5px #dfdfdf;
	padding:4px;
	border:1px solid #d6d6d6;
	position:relative;
}
.picBox img{
	display: block;
	width: 100%;
}
.picBox span{
	opacity:0;
	background:rgba(256,256,256,1) url('../img/icon_magnify.gif') no-repeat center center;
	display:block;
	transition: opacity .5s;
	-moz-transition: opacity .5s; /* Firefox 4 */
	-webkit-transition: opacity .5s; /* Safari 和 Chrome */
	-o-transition: opacity .5s; /* Opera */
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
.picBox span:hover{
	opacity:.5;
}

/* ----says---- */
.says{
	margin-bottom:15px;
	overflow: hidden;
}
.says .picBox{
	float:left;
}
.says blockquote{
	background:url(../img/quote.png) no-repeat left 5px;
	float:right;
	width:530px;
	padding-left:30px;
}
.says blockquote p{
	font-size:18px;
	font-style:italic;
	color:#8c8c8c;
	line-height:24px;
	margin-top:10px;
}
.says blockquote cite{
	display:block;
	font-size:17px;
}

/* ----about---- */
#about .last{
	margin-left: -30px;
}

/* ----skills---- */
.skills{
	padding:0; 
	margin:0;
	position:relative;
}
.skills li{
	padding:10px;
	border-bottom:3px solid #d5e7f3;
	list-style:none;
	font-weight:normal;
	color:#575757;
	font-family: "LeagueGothicRegular", Arial, Helvetica, sans-serif;
	font-size:27px;
	text-transform:uppercase;
}
.skills li span{
	position:absolute;
	right:0;
	font-weight:normal;
}
span[class^="bar"]{
	background:url(../img/bar_graph.gif) repeat-x right .3em;
	height:20px;
}
span[class^="bar"]{width:0;}

.skills li .percent{
	position:absolute;
	left:-55px;
}

/* ----socialsites---- */
.social_wrapper{
	width:100%;
	padding:20px 0;
	margin-bottom:20px;
	border-top:1px solid #e7e7e7;
	border-bottom:1px solid #e7e7e7;
	overflow: hidden;
}
.social_wrapper h3{
	float:left;
}
.social{
	padding:0;
	margin-top:7px;
	float:right;
	width:380px;
}
.social li{
	text-indent:40px;
	padding-bottom:20px;
	margin:0 4px;
}
.social a{
	height:29px;
	line-height:29px;
	display:block;
	opacity:.8;
}
.social a:hover{
	opacity:1;
}
.social .github a{
	background:url(../img/icon_github.png) no-repeat;
}
.social .csdn a{
	background:url(../img/icon_csdn.png) no-repeat;
}
.social .wechat a{
	background:url(../img/icon_wechat.png) no-repeat;
}

/* ----copyright---- */
.copyright{
	float:left;
	width:100%;
	background:url(../img/line_border.gif) repeat-x;
}
.copyright p{
	font-family: "LeagueGothicRegular", Arial, Helvetica, sans-serif;
	font-size:24px;
	text-transform:uppercase;
	
	padding:20px 0;
}

/* ----margin---- */
.marginLeft{
	margin-left:30px;
}
.marginRight{
	margin-right:30px;
}