nav ul li a{
	font-size:25px;
	padding:3px 0;
}
nav ul li{
	font-size:30px;
}
.header h2{
	font-size:40px;
}
h2{
	font-size:56px;
}
h3{
	font-size:25px;
}
#about p{
	line-height:30px;
}
.copyright{
	font-size:18px;
}