/********** 加载样式 **********/
.is-loading:after {
	content: '';
	background: url(../img/load.gif);
	background-size: contain;
	display: block;
	width:30px;
	height:30px;
	margin-top: 19px;
	float: right;
}
/********** THUMBNAILS **********/
#thumbnails {
	margin-bottom:20px;
	height:60px;
	float:left;
}
#thumbnails a.active {
	opacity: 0.3;
}