/********** MAIN PICTURE **********/
#photo-viewer{
	width:245px;
	height:315px;
	overflow:hidden;
}
#photo-viewer img{
	position: absolute;
  	max-width: 100%;
  	max-height: 100%;
  	top: 50%;
  	left: 50%;
}
#photo-viewer.is-loading:after {
    content:url('../img/load.gif');
    position:absolute;
    top:0;
    left:0;
}
/********** THUMBNAILS **********/
#thumbnails {
  	margin-bottom:20px;
  	height:60px;
  	float:left;
}
#thumbnails a.active {
  	opacity: 0.3;
}